.user-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  padding-left: 0;

  &__single {
    margin-right: 10px;
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
