@import 'src/variables';

.follow-button {
  background: inherit;
  font-weight: 700;
  color: $white;

  &:hover {
    color: $white;
  }

  &:focus {
    color: $white;
    border-color: $white;
  }
}
