@import 'src/variables';

.share-list-item {
  &__image-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__view-more-comments {
    color: $primary;
  }

  &__card-content {
    &--text-only {
      padding-bottom: 1.0em;
    }
  }

  &__image {
    max-width: 500px;
    max-height: 500px;
  }

  &__user-details {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__edit-delete-icons {
    margin-bottom: 5px;
  }

  &__delete-confirmation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
  }

  &__text {
    &--show-delete {
      margin-top: 50px;
    }
  }

  &__delete-confirmation-text {
    width: 280px;
  }

  &__delete-yes-no {
    display: flex;
  }

  &__delete {
    color: $danger;
  }

  &__cancel {
    color: $blue;
  }
}
