@import 'src/variables';

.share-list-item {
  &__image-container {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__username {
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  &__hide-comments,
  &__view-more-comments {
    color: $primary;
    cursor: pointer;
  }

  &__card-content {
    &--text-only {
      padding-bottom: 1.0em;
      padding-right: 1.0em;
    }
  }

  &__image {
    max-width: 500px;
    max-height: 500px;
  }

  &__user-details {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__edit-delete-icons {
    margin-bottom: 5px;
  }

  &__delete-confirmation {
    display: flex;
    justify-content: flex-end;
  }

  &__username-date {
    margin-bottom: 1em;
  }

  &__delete-yes-no {
    display: flex;
  }

  &__delete {
    color: $danger;
  }

  &__cancel {
    color: $blue;
  }
}
