@import 'src/variables';

.share-form {
  &__submit-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__character-length {
    color: $forest;

    &--warning {
      color: $light_purple;
    }

    &--danger {
      color: $danger;
    }
  }

  &__text-field {
    margin-bottom: 0 !important;
  }

  &__image-uploaded {
    align-items: center;
    border-bottom: 1px solid $shadow;
    border-left: 1px solid $shadow;
    border-right: 1px solid $shadow;
    display: flex;
    padding: 10px 0;
    justify-content: center;

    a {
      align-self: end;
    }
  }

  &__submit-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
