@import 'src/variables';

.share-form {
  &__submit-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__character-length {
    color: $light_purple;
  }

  &__text-field {
    margin-bottom: 0 !important;
  }

  &__image-uploaded {
    align-items: center;
    border-bottom: 1px solid $shadow;
    border-left: 1px solid $shadow;
    border-right: 1px solid $shadow;
    display: flex;
    padding: 10px 0;
    justify-content: center;

    a {
      align-self: end;
    }
  }

  &__submit-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__characters {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    align-items: center;
  }
}
