@import 'src/variables';

.share-create-form {
  &__submit-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__character-length {
    color: $forest;

    &--warning {
      color: $citrus;
    }

    &--danger {
      color: $danger;
    }
  }
}
