@import 'src/variables';

.admin-menu {
  background-color: $white;

  .menu-label {
    padding-left: 10px;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
