@import 'src/variables';

.admin-menu {
  border-radius: 4px;
  background-color: $white;
  border: 1px solid rgba(10, 10, 10, 0.1);

  .menu-label {
    padding-left: 10px;
    padding-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: inherit;
  }

  &__title {
    .is-active {
      background-color: $primary !important;
    }
  }
}
