.no-username {
  &__warning {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
