@import 'src/variables';

.user-card {
  &__card {
    width: 287px;
    height: 279px;
  }

  &__card-banner {
    background: $primary;
    height: 90px;
  }

  &__name {
    font-weight: 800;
  }

  &__username,
  &__name {
    cursor: pointer;

    &:hover {
      color: $shadow;
    }
  }


  &__media {
    position: relative;
  }

  &__user-image {
    position: absolute;
    top: -65px;
    left: 10px;
    cursor: pointer;

    img {
      box-shadow: 0px 2px 0px 0px $shadow;
      height: 80px;
      width: 80px;
      border-radius: 50%;
      border: 2px solid $white;
      box-shadow: 0px 1px 0px 0px $shadow;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__content {
    padding: 10px;
    overflow: hidden;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
}
