@import 'src/variables';

.user-intro-display {
  &__website,
  &__joined,
  &__area {
    display: flex;
    justify-content: flex-start;
  }

  &__name {
    margin-bottom: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
  }

  &__description {
    margin-bottom: 10px !important;
  }

  &__username {
    a {
      color: $powder;

      &:hover {
        color: $blue;
      }
    }
  }
}
