@import 'src/variables';

.username {
  &__date {
    color: $dark_purple;
  }

  &__hero {
    background: $primary;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 200px;
  }

  &__profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__popover-container {
    background: $pitch-dark;
    padding: 20px;
    color: $white;
    width: 300px;
  }
}

.username-page__share-form-wrapper :focus:not(.focus-visible) {
  outline: none;
}

.share-list-item-transition-enter {
  opacity: 0.01;
}

.share-list-item-transition-enter.share-list-item-transition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.share-list-item-transition-leave {
  opacity: 1;
}

.share-list-item-transition-leave.share-list-item-transition-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
