.unsigned-user {
  &__container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__more-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__invalid-blockstack-id {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__invalid-debut-id {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
