@import 'src/variables';


.actionable-container {
  &__icons {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__view-more-comments {
    &:hover {
      fill: $blue !important;
    }
  }

  &__icons-bubble {
    align-items: center;
    display: flex;
    padding-right: 10px;
  }

  &__hide-comments,
  &__view-more-comments {
    color: $primary;
    cursor: pointer;
  }
}
