@import 'src/variables';

.comment-list-item {
  padding: 1em 1.5em;
  border: 1px solid $shadow;
  border-left: none;
  border-right: none;
  border-bottom: none;

  &__username-creator {
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  &__user-details {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__edit-delete-icons {
    margin-bottom: 5px;
  }

  &__delete-confirmation {
    display: flex;
    justify-content: flex-end;
  }

  &__username-date {
    margin-bottom: 0 !important;
  }

  &__delete-yes-no {
    display: flex;
  }

  &__delete {
    color: $danger;
  }

  &__cancel {
    color: $blue;
  }

  &__text {
    a {
      font-size: 12px;
    }
  }
}
