@import 'src/variables';

.comment-list-item {
  padding: 1em;
  padding-left: 1.5em;

  border: 1px solid $shadow;
  border-bottom: none;


  &__username-creator {
    color: $blue;
    cursor: pointer;
  }

  &__user-details {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__edit-delete-icons {
    margin-bottom: 5px;
  }

  &__delete-confirmation {
    display: flex;
    margin-right: 50px;
  }

  &__username-date {
    margin-bottom: 1em;
  }

  &__delete-yes-no {
    display: flex;
  }

  &__delete {
    color: $danger;
  }

  &__cancel {
    color: $blue;
  }
}
