@import 'src/variables';

.icon-list {
  display: flex;
  flex-wrap: wrap;

  &__single {
    margin-right: 10px;
    margin-bottom: 10px;

    img {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      border: 2px solid $shadow;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
