@import 'src/variables';

.icon-list {
  display: flex;
  flex-wrap: wrap;

  &__single {
    margin-right: 10px;
    margin-bottom: 10px;

    img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      border: 3px solid $shadow;
    }
  }
}
