@import 'src/variables';

.icon-list-users {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__single {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;

    img {
      height: 50px;
      width: 50px;
      border-radius: 100%;
      border: 3px solid $shadow;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__username {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  &__single-link {
    flex: 0 1 auto;
  }
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height 0.5s ease-in-out;
}
