@import 'src/variables';

.page {
  &__container {
    margin-top: 0 !important;
  }

  &__user-row {
    :hover {
      cursor: pointer;
    }
  }

  &__join-text {
    bottom: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  &__radio {
    &:hover {
      color: $white;
    }
  }

  &__slider {
    label {
      color: $white;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-container {
    @media screen and (min-width: 1280px) {
      max-width: 900px;
      width: 900px;
    }
  }
}
