@import 'src/variables';

.page {
  &__user-row {
    :hover {
      cursor: pointer;
    }
  }

  &__card {
    cursor: pointer;
    background: $pitch-dark;
    color: $white;
    width: 280px;
  }

  &__card-image {
    img {
      color: rgba(0, 0, 0, 0) !important;
      text-indent:-9999px
    }
  }

  &__content {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__username-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__join-text {
    bottom: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  &__radio {
    &:hover {
      color: $white;
    }
  }

  &__slider {
    label {
      color: $white;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-container {
    @media screen and (min-width: 1472px) {
      max-width: 900px;
      width: 900px;
    }
  }
}
