@import 'src/variables';

.page {
  &__user-row {
    :hover {
      cursor: pointer;
    }
  }

  &__hero {
    background-image: -webkit-linear-gradient(30deg, $primary 0%, #5a5791 100%);
  }

  &__card {
    cursor: pointer;
    background: $citrus;
    background-image: -webkit-linear-gradient(45deg, $citrus 0%, #fabe61 100%);
    color: $white;
    width: 280px;
  }

  &__content {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__username-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__join-text {
    bottom: 20px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  &__radio {
    &:hover {
      color: $white;
    }
  }

  &__slider {
    label {
      color: $white;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
