@import "./utility";
@import "~react-bulma-components/src/index.sass";
@import '~bulma-divider';
@import './common.scss';
@import '../variables.sass';

@import './modules/button';

html, body {
  font-family: "Poppins", sans-serif;
  background: #fafbfc;
}

p {
  white-space: pre-wrap;
  font-size: 14px;
}

a {
  font-size: 14px;
}

input {
  font-family: "Poppins", sans-serif;
}

textarea {
  font-family: "Poppins", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

.small {
  font-size: 12px;
}

.super-small {
  font-size: 10px;
}

.italic {
  font-style: italic;
}

.hidden {
  visibility: hidden;
}

.content ul {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
}

// bulma component styles
.container {
  margin-top: 40px;
}

.content li + li {
  margin-top: 0;
}

.section {
  padding-top: 1.5em;
}

.tabs {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  ul {
    border-bottom: none;
  }
}

.menu-list {
  a {
    color: $white;

    &.is-active {
      background: $white;
      color: $pitch-dark;
    }
  }
}

// Bulma

// Bulma components
// .content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) {
//   margin-bottom: 0;
// }

.dark-mode {
  html, body {
    font-family: "Poppins", sans-serif;
    background: #10171e;
  }

  .card {
    background-color: #161F2A;
    color: $white;
  }

  .textarea {
    background-color: #11171D;
    border-color: $blue !important;
  }

  textarea::-webkit-input-placeholder {
    color: $white !important;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    color: $white !important;
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: $white !important;
  }

  textarea:-ms-input-placeholder {
    color: $white !important;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $white !important;
  }
}
