@import "./utility";
@import "~react-bulma-components/src/index.sass";
@import './common.scss';

html {
  background: #E0E3DA;
  font-family: 'Overpass', sans-serif;
}

body {
  background: #E0E3DA;
}

p {
  white-space: pre-wrap
}

.small {
  font-size: 13px;
}

.content ul {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
}

// bulma component styles
.container {
  margin-top: 10px;
}

.content li + li {
  margin-top: 0;
}
