@import "./utility";
@import "~react-bulma-components/src/index.sass";

html {
  background: #f0f5f9;
  font-family: 'Overpass', sans-serif;
}

p {
  white-space: pre-wrap
}

.small {
  font-size: 13px;
}

.content ul {
  list-style: none;
}

// bulma component styles
.container {
  margin-top: 10px;
}

.content li + li {
  margin-top: 0;
}
