@import "./utility";
@import "~react-bulma-components/src/index.sass";
@import '~bulma-divider';
@import './common.scss';
@import '../variables.sass';

@import './modules/button';

// html {
//   background: #E0E3DA;
//   font-family: 'Overpass', sans-serif;
// }

html, body {
  font-family: "Poppins", sans-serif;
  background: #E0E3DA;
}

p {
  white-space: pre-wrap
}

.small {
  font-size: 13px;
}

.italic {
  font-style: italic;
}

.hidden {
  visibility: hidden;
}

.content ul {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
}

// bulma component styles
.container {
  margin-top: 40px;
}

.content li + li {
  margin-top: 0;
}
