@import "./utility";
@import "~react-bulma-components/src/index.sass";
@import '~bulma-divider';
@import './common.scss';
@import '../variables.sass';

@import './modules/button';

html, body {
  font-family: "Poppins", sans-serif;
  background: #e7ecef;
}

p {
  white-space: pre-wrap
}

.small {
  font-size: 13px;
}

.italic {
  font-style: italic;
}

.hidden {
  visibility: hidden;
}

.content ul {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
}

// bulma component styles
.container {
  margin-top: 40px;
}

.content li + li {
  margin-top: 0;
}

.section {
  padding-top: 1.5em;
}

.dark-mode {
  html, body {
    font-family: "Poppins", sans-serif;
    background: #10171e;
  }

  .card {
    background-color: #161F2A;
    color: $white;
  }

  .textarea {
    background-color: #11171D;
    border-color: $blue !important;
  }

  textarea::-webkit-input-placeholder {
    color: $white !important;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    color: $white !important;
  }

  textarea::-moz-placeholder {  /* Firefox 19+ */
    color: $white !important;
  }

  textarea:-ms-input-placeholder {
    color: $white !important;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $white !important;
  }
}
