@import 'src/variables';

.debut-nav-bar {
  background: $primary;
  color: $white;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  height: 65px;

  a {
    color: white;
    display: flex;
    align-items: center;

    &:hover {
      color: #4a4a4a;

      svg {
        fill: #4a4a4a;
      }
    }
  }

  svg {
    fill: white;
  }

  &__user-options {
    display: none !important;

    &--desktop {
      display: flex !important;
    }
  }

  .navbar-item {
    display: flex;
    align-items: center;

    img {
      max-height: 45px;
    }
  }

  input {
    width: 400px;
  }

  .dropdown {
    position: absolute;
    bottom: 17px;
  }

  .dropdown-item {
    &.is-active {
      background-color: $white;
      color: #4a4a4a;
    }
  }

  .dropdown-trigger {
    display: none;
  }

  .dropdown-menu {
    width: 400px;
  }

  &__user-identity {
    img {
      height: 45px;
      width: 45px;
      border-radius: 100%;
      border: 3px solid $white;
      box-shadow: 0px 1px 0px 0px $shadow;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@media only screen and (max-width: 1087px) {
  .debut-nav-bar {
    &__user-options {
      display: flex !important;
    }

    &__list-icon,
    &__list {
      display: none !important;
    }

    &__menu {
      padding: 0;
    }
  }

  .navbar-item {
    &.debut-nav-bar__user-options {
      background: $pitch-dark;
      color: $white;

      &:hover {
        color: $pitch-dark !important;
      }
    }
  }

  .navbar-burger,
  .navbar-brand {
    min-height: 4rem;
  }
}
