@import 'src/variables';

.debut-nav-bar {
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  padding-left: 278px;

  input {
    width: 400px;
  }

  .dropdown {
    position: absolute;
    top: 41px;
  }

  .dropdown-item {
    &.is-active {
      background-color: $white;
      color: #4a4a4a;
    }
  }

  .dropdown-trigger {
    display: none;
  }

  .dropdown-menu {
    width: 400px;
  }
}

@media only screen and (max-width: 1500px) {
  .debut-nav-bar {
    padding-left: 0
  }
}
