.button {
  &.is-light {
    background-image: -webkit-linear-gradient(45deg, $pitch-dark 0%, $darkness 100%);
    color: $white;

    &:active,
    &:hover {
      color: $white;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &.is-primary {
    background-image: -webkit-linear-gradient(45deg, $primary 0%, #5a5791 100%);
    color: $white;

    &:hover {
      opacity: 0.9;
    }
  }
}
