.button {
  font-size: 14px;

  &.small {
    font-size: 12px;
  }

  &.is-light {
    background-image: $pitch-dark;
    color: $white;

    &:active,
    &:hover {
      color: $white;
    }

    &:hover {
      opacity: 0.9;
    }
  }

  &.is-primary {
    background: $primary;
    color: $white;

    &:hover {
      opacity: 0.9;
    }
  }
}
