@import '_variables.sass';

.login {
  height: 100vh;

  &__column-left {
    background: $primary;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  &__column-left-blockstack-info {
    align-self: flex-end;
  }

  .login-column-right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-blockstack {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
