.following-users {
  @media screen and (min-width: 1472px) {
    max-width: 1000px;
    width: 1000px;
  }

  &--loading {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
