.following-users {
  &--loading {
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1472px) {
  .following-users {
    &.container {
      max-width: 960px;
      width: 960px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .following-users {
    &.container {
      max-width: 960px;
      width: 960px;
    }
  }
}
