$pink: #EA1D64;
$blue: #518DCA;
$dark_purple: #281134;
$light_purple: #401457;
$white: #FFFFFF;
$shadow: #E0E3DA;
$dusty: #e3dede;
$citrus: #e97f02;
$forest: #3ac569;

$primary: $light_purple;
$danger: #E71D36;
$dark: $pink;
