$pink: #ff3860;
$blue: #518DCA;
$dark_purple: #281134;
$light_purple: #545185;
$white: #FFFFFF;
$shadow: #E0E3DA;
$dusty: #e3dede;
$pitch-dark: #F86754;
$forest: #3ac569;
$pitch-dark: #383A3F;
$powder: #8b8687;
$darkness: #333030;

$coal: #8b8687;
$primary: $light_purple;
$light: $pitch-dark;
$danger: $pink;
